In [1]:
#Import the libraries and read the dataset
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#read the dataset
data = pd.read_csv('rainfalltrm.csv')
data

,Unnamed: 0,Date,City,Min Temp,Max Temp,Wind Direction,Wind Speed,Humidity,Pressure,Cloud,Temperature,Rain,Trm Rain
0,0,2023-06-22 17:30:00,Srikakulam,29.43,29.43,277,1.64,77,1001,99,29.43,1,1
1,1,2023-06-22 20:30:00,Srikakulam,26.59,28.48,287,3.90,80,1002,99,28.48,1,1
2,2,2023-06-22 23:30:00,Srikakulam,26.84,27.70,275,4.03,82,1003,100,27.70,1,1
3,3,2023-06-23 02:30:00,Srikakulam,27.04,27.04,236,3.53,83,1002,100,27.04,0,1
4,4,2023-06-23 05:30:00,Srikakulam,26.60,26.60,265,3.17,84,1002,100,26.60,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,1195,2023-06-27 02:30:00,Udaipur,25.77,25.77,256,6.47,75,1003,74,25.77,0,0
1196,1196,2023-06-27 05:30:00,Udaipur,24.37,24.37,254,6.69,84,1003,80,24.37,0,0
1197,1197,2023-06-27 08:30:00,Udaipur,26.84,26.84,246,6.80,69,1004,94,26.84,0,0
1198,1198,2023-06-27 11:30:00,Udaipur,30.51,30.51,244,6.82,54,1004,91,30.51,0,0
1199,1199,2023-06-27 14:30:00,Udaipur,31.90,31.90,250,6.39,48,1002,94,31.90,0,0

In [3]:
#Understand the data -->precise summary of the dataframe ->info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1200 non-null   int64
 1   Date            1200 non-null   object
 2   City            1200 non-null   object
 3   Min Temp        1200 non-null   float64
 4   Max Temp        1200 non-null   float64
 5   Wind Direction  1200 non-null   int64
 6   Wind Speed      1200 non-null   float64
 7   Humidity        1200 non-null   int64
 8   Pressure        1200 non-null   int64
 9   Cloud           1200 non-null   int64
 10  Temperature     1200 non-null   float64
 11  Rain            1200 non-null   int64
 12  Trm Rain        1200 non-null   int64
dtypes: float64(4), int64(7), object(2)
memory usage: 122.0+ KB

In [4]:
#we need to drop the unnamed column
data.drop(columns=['Unnamed: 0'],inplace=True)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            1200 non-null   object
 1   City            1200 non-null   object
 2   Min Temp        1200 non-null   float64
 3   Max Temp        1200 non-null   float64
 4   Wind Direction  1200 non-null   int64
 5   Wind Speed      1200 non-null   float64
 6   Humidity        1200 non-null   int64
 7   Pressure        1200 non-null   int64
 8   Cloud           1200 non-null   int64
 9   Temperature     1200 non-null   float64
 10  Rain            1200 non-null   int64
 11  Trm Rain        1200 non-null   int64
dtypes: float64(4), int64(6), object(2)
memory usage: 112.6+ KB

In [6]:
data.describe()

,Min Temp,Max Temp,Wind Direction,Wind Speed,Humidity,Pressure,Cloud,Temperature,Rain,Trm Rain
count,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000,1200.000000
mean,29.136700,29.258600,238.747500,4.575433,64.560833,1003.895833,91.944167,29.237600,0.419167,0.800000
std,3.702893,3.756659,67.305203,1.878808,15.283901,3.156731,18.646737,3.725701,0.493628,0.400167
min,19.860000,19.860000,0.000000,0.130000,24.000000,995.000000,5.000000,19.860000,0.000000,0.000000
25%,26.680000,26.747500,224.000000,3.100000,52.000000,1002.000000,97.000000,26.747500,0.000000,1.000000
50%,28.520000,28.600000,261.000000,4.640000,65.000000,1004.000000,100.000000,28.600000,0.000000,1.000000
75%,31.360000,31.492500,279.000000,6.040000,78.000000,1006.000000,100.000000,31.457500,1.000000,1.000000
max,42.430000,42.430000,358.000000,9.360000,95.000000,1012.000000,100.000000,42.430000,1.000000,1.000000

In [7]:
data.isnull().sum()

Date              0
City              0
Min Temp          0
Max Temp          0
Wind Direction    0
Wind Speed        0
Humidity          0
Pressure          0
Cloud             0
Temperature       0
Rain              0
Trm Rain          0
dtype: int64

In [8]:
data.head()

,Date,City,Min Temp,Max Temp,Wind Direction,Wind Speed,Humidity,Pressure,Cloud,Temperature,Rain,Trm Rain
0,2023-06-22 17:30:00,Srikakulam,29.43,29.43,277,1.64,77,1001,99,29.43,1,1
1,2023-06-22 20:30:00,Srikakulam,26.59,28.48,287,3.90,80,1002,99,28.48,1,1
2,2023-06-22 23:30:00,Srikakulam,26.84,27.70,275,4.03,82,1003,100,27.70,1,1
3,2023-06-23 02:30:00,Srikakulam,27.04,27.04,236,3.53,83,1002,100,27.04,0,1
4,2023-06-23 05:30:00,Srikakulam,26.60,26.60,265,3.17,84,1002,100,26.60,0,1

In [9]:
# Drop the 'Date' field
data.drop('Date', axis=1, inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City            1200 non-null   object
 1   Min Temp        1200 non-null   float64
 2   Max Temp        1200 non-null   float64
 3   Wind Direction  1200 non-null   int64
 4   Wind Speed      1200 non-null   float64
 5   Humidity        1200 non-null   int64
 6   Pressure        1200 non-null   int64
 7   Cloud           1200 non-null   int64
 8   Temperature     1200 non-null   float64
 9   Rain            1200 non-null   int64
 10  Trm Rain        1200 non-null   int64
dtypes: float64(4), int64(6), object(1)
memory usage: 103.2+ KB

In [11]:
###Convert categorical values into numerical values
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

data['City'] = encoder.fit_transform(data['City'])

In [12]:
data['City']

0       22
1       22
2       22
3       22
4       22
        ..
1195    26
1196    26
1197    26
1198    26
1199    26
Name: City, Length: 1200, dtype: int32

In [13]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()
label_encoder

LabelEncoder()

In [14]:
# Fit and transform the target variable using label encoding
encoded_target = label_encoder.fit_transform(data['City'])
encoded_target

array([22, 22, 22, ..., 26, 26, 26], dtype=int64)

In [15]:
# Reshape the encoded target variable to a 2D array
reshaped_target = np.reshape(encoded_target, (-1, 1))
reshaped_target

array([[22],
       [22],
       [22],
       ...,
       [26],
       [26],
       [26]], dtype=int64)

In [16]:
import warnings
warnings.filterwarnings("ignore")

# Fit and transform the dataset
encoded_data = label_encoder.fit_transform(reshaped_target)
encoded_data

array([22, 22, 22, ..., 26, 26, 26], dtype=int64)

In [17]:
data.columns

Index(['City', 'Min Temp', 'Max Temp', 'Wind Direction', 'Wind Speed',
       'Humidity', 'Pressure', 'Cloud', 'Temperature', 'Rain', 'Trm Rain'],
      dtype='object')

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200 entries, 0 to 1199
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City            1200 non-null   int32
 1   Min Temp        1200 non-null   float64
 2   Max Temp        1200 non-null   float64
 3   Wind Direction  1200 non-null   int64
 4   Wind Speed      1200 non-null   float64
 5   Humidity        1200 non-null   int64
 6   Pressure        1200 non-null   int64
 7   Cloud           1200 non-null   int64
 8   Temperature     1200 non-null   float64
 9   Rain            1200 non-null   int64
 10  Trm Rain        1200 non-null   int64
dtypes: float64(4), int32(1), int64(6)
memory usage: 98.6 KB

In [19]:
###Split data into dependent (trm_rain) and independent variables
X = data.drop('Trm Rain',axis=1)
y = data['Trm Rain']

In [20]:
X

,City,Min Temp,Max Temp,Wind Direction,Wind Speed,Humidity,Pressure,Cloud,Temperature,Rain
0,22,29.43,29.43,277,1.64,77,1001,99,29.43,1
1,22,26.59,28.48,287,3.90,80,1002,99,28.48,1
2,22,26.84,27.70,275,4.03,82,1003,100,27.70,1
3,22,27.04,27.04,236,3.53,83,1002,100,27.04,0
4,22,26.60,26.60,265,3.17,84,1002,100,26.60,0
...,...,...,...,...,...,...,...,...,...,...
1195,26,25.77,25.77,256,6.47,75,1003,74,25.77,0
1196,26,24.37,24.37,254,6.69,84,1003,80,24.37,0
1197,26,26.84,26.84,246,6.80,69,1004,94,26.84,0
1198,26,30.51,30.51,244,6.82,54,1004,91,30.51,0
1199,26,31.90,31.90,250,6.39,48,1002,94,31.90,0

In [21]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1195    0
1196    0
1197    0
1198    0
1199    0
Name: Trm Rain, Length: 1200, dtype: int64

In [22]:
###Data Standardisation
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [23]:
scaler.fit(X)

StandardScaler()

In [24]:
standardized_data=scaler.transform(X)

In [25]:
print(standardized_data)

[[ 0.86650693  0.07924136  0.04564467 ...  0.37855283  0.05166282
   1.1771516 ]
 [ 0.86650693 -0.6880463  -0.20734506 ...  0.37855283 -0.20342906
   1.1771516 ]
 [ 0.86650693 -0.62050338 -0.41506295 ...  0.43220388 -0.41287291
   1.1771516 ]
 ...
 [ 1.32864396 -0.62050338 -0.64408524 ...  0.11029761 -0.64379819
  -0.84950826]
 [ 1.32864396  0.37102682  0.33325406 ... -0.05065553  0.341662
  -0.84950826]
 [ 1.32864396  0.7465655   0.703418   ...  0.11029761  0.7149017
  -0.84950826]]

In [26]:
X=standardized_data
Y=data['Trm Rain']

In [27]:
print(X)
print(Y)

[[ 0.86650693  0.07924136  0.04564467 ...  0.37855283  0.05166282
   1.1771516 ]
 [ 0.86650693 -0.6880463  -0.20734506 ...  0.37855283 -0.20342906
   1.1771516 ]
 [ 0.86650693 -0.62050338 -0.41506295 ...  0.43220388 -0.41287291
   1.1771516 ]
 ...
 [ 1.32864396 -0.62050338 -0.64408524 ...  0.11029761 -0.64379819
  -0.84950826]
 [ 1.32864396  0.37102682  0.33325406 ... -0.05065553  0.341662
  -0.84950826]
 [ 1.32864396  0.7465655   0.703418   ...  0.11029761  0.7149017
  -0.84950826]]
0       1
1       1
2       1
3       1
4       1
       ..
1195    0
1196    0
1197    0
1198    0
1199    0
Name: Trm Rain, Length: 1200, dtype: int64

In [28]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
X_train.shape

(960, 10)

In [30]:
X_test.shape

(240, 10)

In [31]:
y_train.shape

(960,)

In [32]:
y_test.shape

(240,)

In [33]:
#######logistic Regression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score
import warnings
warnings.filterwarnings("ignore")

In [34]:
####spliting dependent and independent variables in X and y
X = data.drop('Trm Rain',axis=1)
y = data['Trm Rain']

In [35]:
X

,City,Min Temp,Max Temp,Wind Direction,Wind Speed,Humidity,Pressure,Cloud,Temperature,Rain
0,22,29.43,29.43,277,1.64,77,1001,99,29.43,1
1,22,26.59,28.48,287,3.90,80,1002,99,28.48,1
2,22,26.84,27.70,275,4.03,82,1003,100,27.70,1
3,22,27.04,27.04,236,3.53,83,1002,100,27.04,0
4,22,26.60,26.60,265,3.17,84,1002,100,26.60,0
...,...,...,...,...,...,...,...,...,...,...
1195,26,25.77,25.77,256,6.47,75,1003,74,25.77,0
1196,26,24.37,24.37,254,6.69,84,1003,80,24.37,0
1197,26,26.84,26.84,246,6.80,69,1004,94,26.84,0
1198,26,30.51,30.51,244,6.82,54,1004,91,30.51,0
1199,26,31.90,31.90,250,6.39,48,1002,94,31.90,0

In [36]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1195    0
1196    0
1197    0
1198    0
1199    0
Name: Trm Rain, Length: 1200, dtype: int64

In [37]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [38]:
# Creating an instance of the logistic regression model
logreg = LogisticRegression()

In [39]:
logreg

LogisticRegression()

In [40]:
# Fitting the model on the training data
logreg.fit(X_train, y_train)

LogisticRegression()

In [41]:
# Making predictions on the testing data
y_pred = logreg.predict(X_test)
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1], dtype=int64)

In [42]:
# Evaluating the model's accuracy,precision,recall and f1 score
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)
precision = precision_score(y_test, y_pred)
print("Precision:", precision)
recall = recall_score(y_test, y_pred)
print("Recall:", recall)
f1 = f1_score(y_test, y_pred)
print("F1_score:", f1)

Accuracy: 0.8133333333333334
Precision: 0.825
Recall: 0.9705882352941176
F1_score: 0.8918918918918919

In [43]:
#####Making a rainfall predictive system
input_data=(2,26.840000000000032,27.700000000000045,275,4.03,82,1003,100,27.700000000000045,1)

In [44]:
###changing the input_data to the numpy array
input_data_as_numpy_array=np.asarray(input_data)
###reshape the array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
###standardise the input data
std_data=scaler.transform(input_data_reshaped)
print(std_data)
prediction=logreg.predict(std_data)
print(prediction)

[[-1.44417822 -0.62050338 -0.41506295  0.53885306 -0.29042928  1.14149113
  -0.28390341  0.43220388 -0.41287291  1.1771516 ]]
[1]

In [45]:
if prediction[0]==1:
    print("it will rain tomorrow")
else:
    print("it will not rain tomorrow")

it will rain tomorrow

In [46]:
input_data=(118,25.960000000000036,25.960000000000036,274,7.77,81,1005,100,25.960000000000036,0)

In [47]:
###changing the input_data to the numpy array
input_data_as_numpy_array=np.asarray(input_data)
###reshape the array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)
###standardise the input data
std_data=scaler.transform(input_data_reshaped)
print(std_data)
prediction=logreg.predict(std_data)
print(prediction)

[[11.95779564 -0.85825448 -0.87843363  0.52398917  1.70102495  1.07603553
   0.34992746  0.43220388 -0.88009382 -0.84950826]]
[0]

In [48]:
if prediction[0]==1:
    print("it will rain tomorrow")
else:
    print("it will not rain tomorrow")

it will not rain tomorrow

In [49]:
####support vector machine
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import warnings
warnings.filterwarnings("ignore")

In [50]:
####spliting dependent and independent variables in X and y
X = data.drop('Trm Rain',axis=1)
y = data['Trm Rain']

In [51]:
X

,City,Min Temp,Max Temp,Wind Direction,Wind Speed,Humidity,Pressure,Cloud,Temperature,Rain
0,22,29.43,29.43,277,1.64,77,1001,99,29.43,1
1,22,26.59,28.48,287,3.90,80,1002,99,28.48,1
2,22,26.84,27.70,275,4.03,82,1003,100,27.70,1
3,22,27.04,27.04,236,3.53,83,1002,100,27.04,0
4,22,26.60,26.60,265,3.17,84,1002,100,26.60,0
...,...,...,...,...,...,...,...,...,...,...
1195,26,25.77,25.77,256,6.47,75,1003,74,25.77,0
1196,26,24.37,24.37,254,6.69,84,1003,80,24.37,0
1197,26,26.84,26.84,246,6.80,69,1004,94,26.84,0
1198,26,30.51,30.51,244,6.82,54,1004,91,30.51,0
1199,26,31.90,31.90,250,6.39,48,1002,94,31.90,0

In [52]:
y

0       1
1       1
2       1
3       1
4       1
       ..
1195    0
1196    0
1197    0
1198    0
1199    0
Name: Trm Rain, Length: 1200, dtype: int64

In [53]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [54]:
# Create an instance of the SVC model
svc_model = SVC()

In [55]:
svc_model

SVC()

In [56]:
# Fit the model on the training data
svc_model.fit(X_train, y_train)

SVC()

In [57]:
# Make predictions on the test data
y_pred = svc_model.predict(X_test)
y_pred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int64)

In [58]:
# Evaluate the model performance
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print the performance metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

Accuracy: 0.7933333333333333
Precision: 0.7933333333333333
Recall: 1.0
F1 Score: 0.8847583643122676

In [ ]:
#####kNeighbors classifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import warnings
warnings.filterwarnings("ignore")

In [ ]:
####spliting dependent and independent variables in X and y
X = data.drop('Trm Rain',axis=1)
y = data['Trm Rain']

In [ ]:
X

In [ ]:
y

In [ ]:
# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
# Creating an instance of KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=5)
knn

In [ ]:
# Fitting the model with training data
knn.fit(X_train, y_train)

In [ ]:
# Predicting labels for the test set
y_pred = knn.predict(X_test)
y_pred

In [ ]:
# Evaluating the metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Printing the metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

In [ ]:
#####Decision Tree classifier
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
import warnings
warnings.filterwarnings("ignore")

In [ ]:
####spliting dependent and independent variables in X and y
X = data.drop('Trm Rain',axis=1)
y = data['Trm Rain']

In [ ]:
X

In [ ]:
y

In [ ]:
# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [ ]:
# Create a decision tree classifier
clf = DecisionTreeClassifier()
clf

In [ ]:
# Fit the model with training data
clf.fit(X_train, y_train)

In [ ]:
# Make predictions on the testing data
y_pred = clf.predict(X_test)
y_pred

In [ ]:
# Evaluate the metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print the metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

In [ ]:
#####Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [ ]:
####spliting dependent and independent variables in X and y
X = data.drop('Trm Rain',axis=1)
y = data['Trm Rain']

In [ ]:
X

In [ ]:
y

In [ ]:
# Assuming you have X and y
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.25, random_state=42)

In [ ]:
# Create an instance of the Random Forest Classifier
rf_classifier = RandomForestClassifier()

In [ ]:
# Fit the model with the training data
rf_classifier.fit(X_train, y_train)

In [ ]:
# Make predictions on the test data
y_pred = rf_classifier.predict(X_test)
y_pred

In [ ]:
# Evaluate the metrics
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)
f1 = f1_score(y_test, y_pred)

# Print the evaluation metrics
print("Accuracy:", accuracy)
print("Precision:", precision)
print("Recall:", recall)
print("F1 Score:", f1)

In [ ]:
###Scatter plot 
plt.scatter(data['Rain'], data['Trm Rain'])
plt.xlabel('Rain')
plt.ylabel('Trm Rain')
plt.title('Rain vs Trm Rain')
plt.show()

In [ ]:
###Scatter plot 
plt.scatter(data['Wind Speed'], data['Wind Direction'])
plt.xlabel('Wind Speed')
plt.ylabel('Wind Direction')
plt.title('wind speed vs wind direction')
plt.show()

In [ ]:
###Scatter plot 
plt.scatter(data['Wind Direction'], data['Wind Speed'])
plt.xlabel('Wind Direction')
plt.ylabel('Wind Speed')
plt.title('wind direction vs wind speed')
plt.show()

In [ ]:
###Scatter plot 
plt.scatter(data['Min Temp'], data['Max Temp'])
plt.xlabel('Min Temp')
plt.ylabel('Max Temp')
plt.title('Min Temp vs Max Temp')
plt.show()

In [ ]:
###Scatter plot 
plt.scatter(data['Max Temp'], data['Min Temp'])
plt.xlabel('Max Temp')
plt.ylabel('Min Temp')
plt.title('Max Temp vs Min Temp')
plt.show()

In [ ]:
###Scatter plot 
plt.scatter(data['Temperature'], data['Humidity'])
plt.xlabel('Temperature')
plt.ylabel('Humidity')
plt.title('Temperature vs Humidity')
plt.show()

In [ ]:
###Scatter plot 
plt.scatter(data['Humidity'], data['Temperature'])
plt.xlabel('Humidity')
plt.ylabel('Temperature')
plt.title('Humidity vs Temperature')
plt.show()

In [ ]:
# Bar plot 
rain_counts = data['Rain'].value_counts()
trm_rain_counts = data['Trm Rain'].value_counts()

plt.figure(figsize=(8, 4))
plt.subplot(1, 2, 1)
plt.bar(rain_counts.index, rain_counts.values)
plt.xlabel('Rain')
plt.ylabel('Count')
plt.title('Rain')

plt.subplot(1, 2, 2)
plt.bar(trm_rain_counts.index, trm_rain_counts.values)
plt.xlabel('Trm Rain')
plt.ylabel('Count')
plt.title('Trm Rain')
plt.tight_layout()
plt.show()

In [ ]:
# Bar plot 
temp_counts = data['Temperature'].value_counts()
humidity_counts = data['Humidity'].value_counts()

plt.figure(figsize=(8, 4))
plt.subplot(1, 2, 1)
plt.bar(temp_counts.index, temp_counts.values)
plt.xlabel('Temperature')
plt.ylabel('Count')
plt.title('Temperature')

plt.subplot(1, 2, 2)
plt.bar(humidity_counts.index, humidity_counts.values)
plt.xlabel('Humidity')
plt.ylabel('Count')
plt.title('Humidity')
plt.tight_layout()
plt.show()

In [ ]:
# Bar plot 
mintemp_counts = data['Min Temp'].value_counts()
maxtemp_counts = data['Max Temp'].value_counts()

plt.figure(figsize=(8, 4))
plt.subplot(1, 2, 1)
plt.bar(mintemp_counts.index, mintemp_counts.values)
plt.xlabel('Min Temp')
plt.ylabel('Count')
plt.title('Min Temp')

plt.subplot(1, 2, 2)
plt.bar(maxtemp_counts.index, maxtemp_counts.values)
plt.xlabel('Max Temp')
plt.ylabel('Count')
plt.title('Max Temp')
plt.tight_layout()
plt.show()

In [ ]:
# data
rain = data['Rain']  
trm_rain = data['Trm Rain']

# Create x-axis ticks
x_ticks = np.arange(len(rain))

# Bar chart for Rain
plt.bar(x_ticks, rain)
plt.xlabel('Data Point')
plt.ylabel('Rain')
plt.title('Rain Data')
plt.xticks(x_ticks)
plt.show()

# Bar chart for Trm Rain
plt.bar(x_ticks, trm_rain)
plt.xlabel('Data Point')
plt.ylabel('Trm Rain')
plt.title('Trm Rain Data')
plt.xticks(x_ticks)
plt.show()

In [ ]:
# data
rain = data['Rain']  
trm_rain = data['Trm Rain']


# Pie chart for Rain
plt.pie(rain, autopct='%1.1f%%')
plt.axis('equal')
plt.title('Rain Data')
plt.show()

# Pie chart for Trm Rain
plt.pie(trm_rain, autopct='%1.1f%%')
plt.axis('equal')
plt.title('Trm Rain Data')
plt.show()

In [ ]:
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

In [ ]:
####spliting dependent and independent variables in X and y
X = data.drop('Trm Rain',axis=1)
y = data['Trm Rain']

In [ ]:
X

In [ ]:
y

In [ ]:
import pickle
with open('rain_model.pkl', 'wb') as file:
     pickle.dump(logreg, file)